body {
    background-color: black;
    color: white;
}

div {
    margin-bottom: 10px;
}

button {
    background-color: rgb(51, 51, 51);
    color: white;
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
}

.operador {
    background-color: rgb(254, 160, 10)
}

.clear {
    font-size: 8px;
}